<?xml version="1.0"?>

<robot name="bobblebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find bobble_description)/xacro/bobble_chassis.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/left_wheel.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/right_wheel.urdf.xacro" />

  <xacro:bobble_chassis>
  </xacro:bobble_chassis>
  <xacro:left_wheel parent="bobble_chassis_link">
  </xacro:left_wheel>
  <xacro:right_wheel parent="bobble_chassis_link">
  </xacro:right_wheel>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" >
      <robotNamespace>/bobble</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <controlPeriod>0.001</controlPeriod>
    </plugin>
  </gazebo>

</robot>
