<?xml version="1.0"?>

<robot name="bobblebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find bobble_description)/xacro/bobble_chassis.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/bobble_chassis2.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/bobble_battery.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/bobble_realsense.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/bobble_electronics.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/camera.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/bno055_imu.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/left_wheel.urdf.xacro" />
  <xacro:include filename="$(find bobble_description)/xacro/right_wheel.urdf.xacro" />

  <xacro:bobble_chassis>
  </xacro:bobble_chassis>
  <xacro:bobble_chassis2 parent="bobble_chassis_link">
  </xacro:bobble_chassis2>
  <xacro:bobble_battery parent="bobble_chassis_link">
  </xacro:bobble_battery>
  <xacro:bobble_realsense parent="bobble_chassis_link">
  </xacro:bobble_realsense>
  <xacro:bobble_electronics parent="bobble_chassis_link">
  </xacro:bobble_electronics>
  <xacro:bno055_imu parent="bobble_chassis_link">
  </xacro:bno055_imu>
  <!--<xacro:camera_macro parent="bobble_chassis_link">
  </xacro:camera_macro>-->
  <xacro:left_wheel parent="bobble_chassis_link">
  </xacro:left_wheel>
  <xacro:right_wheel parent="bobble_chassis_link">
  </xacro:right_wheel>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find bobble_description)/config/ros2_controllers.yaml</parameters>
      <ros>
        <namespace>/bobble</namespace>
      </ros>
    </plugin>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
      <bodyName>bno055_imu_link</bodyName>
      <topicName>/imu_bosch/data_raw</topicName>
      <updateRate>200.0</updateRate>
      <gaussianNoise>0.02</gaussianNoise>
      <ros>
        <namespace>/bobble</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>
