<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find bobble_description)/xacro/materials/materials.xacro" />
  <xacro:macro name="bobble_realsense" params="parent">
	  <joint name="bobble_realsense_joint" type="fixed">
		  <axis xyz="0 0.0 0.0" />
		  <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
		  <parent link="${parent}"/>
		  <child link="bobble_realsense_link"/>
	  </joint>
	  <link name="bobble_realsense_link">
		  <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
			  <geometry>
  				  <mesh filename="package://bobble_description/meshes/realsense.stl" scale="0.001 0.001 0.001"/>
			  </geometry>
			  <material name="gray"/>
		  </visual>
	  </link>

	<gazebo reference="bobble_realsense_link">
		<selfCollide>false</selfCollide>
        <material>Gazebo/Gray</material>
	</gazebo>


  </xacro:macro>
</robot>
